:root {
	--text-strong: #fff;
	--text-default: #dcddde;
	--text-size: 16px;
	--text-secondary: #b9bbbe;
	--text-title: #8e9297;
	--text-link: var(--primary);
	--text-anchor: #ffffff;
	--text-muted: #72767d;
	--text-success: var(--success);
	--text-danger: var(--danger);
	--text-warning: var(--warning);
}

p {
	margin: 0;
}

.text {
	font-size: var(--text-size);
	color: var(--text-default);

	&.strong {
		color: var(--text-strong);
	}

	&.secondary {
		font-weight: 400;
		color: var(--text-secondary);
	}

	&.muted {
		font-size: 0.75rem;
		color: var(--text-muted);
	}

	&.title {
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
		color: var(--text-title);
		user-select: none;
	}

	&.danger {
		color: var(--text-danger);
	}

	&.warning {
		color: var(--text-warning);
	}

	&.success {
		color: var(--text-success);
	}

	&.anchor {
		color: var(--text-anchor);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	&.headline {
		font-size: 1.5rem;
		font-weight: 600;
		margin-bottom: --element-margin;
		color: var(--text-strong);
	}
}

.text.link,
a {
	color: var(--text-link);
	text-decoration: none;
	font-weight: 500;

	&:hover {
		text-decoration: underline;
	}
}

h3 {
	font-weight: 500;
	font-size: 16px;
}
